/* Universal */

html, body {
    height: 100%;
}

body {
    background-color: rgb(228, 228, 228);
    color: rgb(22, 22, 22);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    min-height: 100%;
    max-width: 65%;
    min-width: 16rem;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
}

.section {
    margin-top: 1rem;
    min-height: fit-content;
    display: flex;
}

/* Intro Section (Header) */

.intro-section {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.intro-section h1 {
    color:darkmagenta;
    font-size: 5rem;
}

.intro-section h2 {
    font-size: 2rem;
    margin: 0.25rem 0 0.55rem 0;
}
  
.intro-content {
    max-width: 60rem;
}

/* Featured Projects*/

.featured-projects {
    flex-direction: column;
}

.project-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.project-frame {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 0 0;
}

.project-name {
    text-transform: uppercase;
    font-weight: bolder;
    color:darkmagenta;
}

/* Contact Section */

.contact-details {
    flex-direction: column;
}

.contact-type,
.contact-link {
    font-size: 1.25rem;
}

.contact-link {
    color: darkmagenta;
    font-weight: bold;
    text-decoration: none;
}

.contact-text {
    margin-top: 0.25rem;
    max-width: 60rem;
}

/* Footer */
